<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>What'd You Learn Today.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FA7702F1D1A884300E8B2CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FA770451D1A884300E8B2CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FA770501D1A884300E8B2CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
